{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Change Password</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        <div class="mb-2">
                          <label for="id_old_password" class="form-label">Old Password</label>
                          <input type="password" class="form-control" id="current_password" name="current_password" required>
                        </div>
                        <div class="mb-2">
                          <label for="id_new_password" class="form-label">New Password</label>
                          <input type="password" class="form-control" id="id_new_password" name="new_password" required>
                        </div>
                        <div class="mb-2">
                          <label for="id_confirm_password" class="form-label">Confirm New Password</label>
                          <input type="password" class="form-control" id="id_confirm_password" name="confirm_password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}